

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue : #2563EB;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.grid-center {
    display: grid;
    place-items: center;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  overflow-x: hidden;
}

a{
    text-decoration: none;
}

p{
    color: rgb(169, 169, 169);
    font-size: 15px;
}

.navbar  {
    width: 100%;
    height: 80px;
    background-color: var(--blue);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 10;
}



nav{
    width: 100%;
    height: 100%;
    padding: 0 150px;
    display: flex ;
    
    justify-content: space-between;
    align-items: center;
    
}


.logo {
    width: 200px;
    height: 100%;
    align-items: center;
    align-content: center;
}

.logo img  {
    width: 180px;
    background-size: cover;
    background-repeat: no-repeat; 
    margin-top: 10px;
      
}

.list {
    height: 100%;
    gap: 25px;
}

.list a {
    color: white;
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83px;
}

.list a:hover {
    background-color: white;
    color: var(--blue);
}

.info .item > div {
    font-size: 50px; 
    font-weight: 700;
     line-height:65px
}





.home-content {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}

.img-home {
    position: absolute;
    right: 0;
    top: 15px;
}

.img-home img {
    background-size: cover;
}

.info {
    min-height: 100% ;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px
}

.button-home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px ;
    margin-left: -225px;
}

.button-home .btn {
    font-weight: 400;
    font-size: 18px;
    padding: 20px;
    height: 50px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn {
    padding: 10px 20px;
    font-weight: 600;
    width: 220px;
    height: 45px;
    border-radius: 8px;
    border: none;
    background-color: var(--blue);
    color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.btn:hover {
transform: scale(1.05);
}


/* about */
.container-about {
    width: 100%;
    min-height: 70vh;
   display: flex;
   flex-direction: column;
   
   padding: 10px 80px;

}

.title-about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    margin-bottom: 70px;
    margin-top: 100px;
    
}


.content-about {
    width: 100%;
    min-height: 60vh;
    display: grid;
    grid-template-columns: 1fr 0.9fr;
    gap: 30px;
    
   
    
}

.info-about {
    display: flex;
    flex-direction: column;
    gap:10px ;
}

.info-about h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative;
}

.info-about p {
    margin-top: 7px;
}
.info-about h3::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: var(--blue);
    bottom: 0;
    left: 0;
   
    
}

.button-about {
    display: grid;
    place-items: center;
    width: 170px;
    margin-top: 33px;
    
}



.img-about{
    display: grid;
    justify-content: center;
    align-items: flex-start;
}

.img-about img {
    width: 500px;
}

/* rate */

.container-rate{
    width: 100%;
    height: 300px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7) ,  rgba(0, 0, 0, 0.7)) , url(img/pexels-saulozayas-4966406.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:150px ;
    padding: 0  40px;

}

.item-rate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
   
   
}

.info-rate {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.icon-rate i {
    font-size: 65px;
}

.info-rate div{
    font-size: 30px;
    color: white;
    font-weight: 550;
}


.info-rate p {
    color: white;
    
}


/* services */
.container-services {
    width: 100%;
    min-height: 100vh;
    padding:  0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.title-services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    margin-top: 110px;
}
.title-services div {
font-size: 40px;
font-weight: 600;
}


.content-services {
    width: 90%;
    display: grid;
    padding:  60px;
    row-gap: 70px;
    grid-template-columns: repeat(3 , 1fr);
    justify-content: center ;
    align-items: center;
    justify-items: center;
    margin-top: 20px;

    
}

.item-services {
    width: 280px;
    height: 300px;
    border-radius: 24px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
     margin: 0 10px;
    
    
    
}

.item-services i {
    font-size: 80px;
    margin-top: 10px;
    
}
.item-services div {
    font-size: 25px;
    font-weight: 600;
    margin-top: 40px;
    text-align: center;
}
.item-services p {
    color: black;
    text-align: center;
    margin-top: 10px ;
    font-weight: 300;
}


.item-services:hover i {
    color: white !important;
}
.item-services:hover div {
    color: white;
}

.item-services:hover p {
    color: white;
}

.item-services:hover {
    background-color: var(--blue);
}


/* brand */

.container-brand{ 
    
    max-width: 1536px ;
    width: 100% ;
    height: 200px;
    margin-top: 100px;
   
}

.content-brand {
    width: 100%;
    height: 200px;
   position: relative;
   overflow-x: hidden;

    display: flex;
    align-items: center;


}

.item-brand {
    width: 230px;
    height: auto;
    position: absolute;
    left: 100%;
    animation: scroll 20s linear infinite;

}

.item-brand1 {
    animation-delay: calc( 20s / 5 * (5 - 1) * -1);
}
.item-brand2 {
    animation-delay: calc( 20s / 5 * (5 - 2) * -1);
}
.item-brand3 {
    animation-delay: calc( 20s / 5 * (5 - 3) * -1);
}
.item-brand4 {
    animation-delay: calc( 20s / 5 * (5 - 4) * -1);
}
.item-brand5 {
    animation-delay: calc( 20s / 5 * (5 - 5) * -1);
}



@keyframes scroll {
    from{
        left: 100%;
    }
    to{
        left:-230px ;
    }
}

.item-brand img {
    max-width: 230px;
    filter: grayscale(100%);
}


.container-blog {
    width: 100%;
    min-height:100vh ;
    max-width: 1536px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap:30px ;
}

.title-blog {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    
}

.content-blog {
   max-width: 1536px;
   min-height: 100vh;
   display: flex;
    padding: 0 20px;
   justify-content: center;
   align-items: center;
   justify-items: center;
   gap:80px ;
   margin-top: 10px;

}

.item-blog {

    width: 380px;
    height: 460px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    position: relative;
    border: 1px solid transparent;
    border-radius: 12px;
    transition: 0.3s;
    
    
}

.item-blog:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #dad9d9;
    transform: scale(1.05);

    
}

.item-blog img {
width: 340px;
background-size: cover;
border-radius: 12px;

}

.item-blog > div:first-of-type {
    font-size: 22px;
    font-weight: 500;
    margin-top: 15px;
}

.item-blog > p {
color: black;
font-weight: 200;
margin-top: 10px;
font-size: 13px;
padding-bottom: 20px;
}


.item-blog a {
    position: absolute;
    bottom: 10px;
    color: var(--blue);
   
}

/* contact */

.supercontainer-contact {
    width: 100%;
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
 
}


.container-contact {
    width: 100%;
    height:450px;
    background-image:linear-gradient(to right , var(--blue) , #b0c9ff  );
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    padding: 60px;
    gap: 40px;
    margin-top: -50px;

   

}

.text-contact > div {
    width: 100%;
    font-size: 35px;
    color: white;
    font-weight: 600;
    line-height: 37px;

}

.text-contact > p{
    color: white;
    font-weight: 300;
    margin-top: 25px;
}

.form-contact {
   width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.form {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap:20px
}

.form  textarea{
    grid-column: 1/3;
    height: 100px;
    resize: none;
    font-family: inherit;

}

.form input , .form textarea {
    padding: 15px;
    border-radius: 8px;
    border: 2px solid transparent;
    font-family: inherit;
    transition: 0.1s;
    color: black;
}



.form input:focus , .form textarea:focus {
    outline: none;
    border: none;
    border: 2px solid var(--blue);

}

.form > input:last-child {
    color: white;
    grid-column: 1/3;
    padding: 15px;
    font-size: 16px;
    display: grid;
    place-items: center;
    background-color: #2563EB;
    border-radius: 8px;
    
}

.form > input:last-child:hover {
    transform: scale(1.02);

}


/* footer */

.footer-top {
    width: 100%;
    background-color: white;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 10;
    padding: 40px 80px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
}

.footer-top .info-footer {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

}

.footer-top .info-footer img {
    width: 200px;
    background-size: cover;
}

.footer-top .info-footer > div {
    font-size: 25px;
    color: black;
    margin-top: 30px;
}

.footer-top .info-footer iframe {
    width:90% ;
    height: 250px;
    background-size: cover;
    border-radius: 8px;
    margin-top: 20px;
}

.links-footer {
   width: 100%;
   height: 100%;
   padding: 100px 0;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3 , 1fr);
    position: relative;
}

.itemlinks-footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   align-items: center;
}

.itemlinks-footer  ul {
    margin-top: 10px;
}

.itemlinks-footer  ul  li {
    color: rgba(0, 0, 0, 0.649);
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    list-style: none;
}
.itemlinks-footer div{
    color: black;
    font-size: 20px;
}

.footer-bottom {
    background-color: var(--blue);
    padding: 20px 80px;
}
.footer-bottom > div {
    color: white;
}



.social-list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    grid-column: 1/4;
    position: absolute;
    bottom: 0;
    
   
}

.social-list a i {
    font-size: 31px;
    color: #2563EB !important;
} 


.scroll-bar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: rotate(-90deg);
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: grid;
    place-items: center;
    z-index: 20;
}


@media (max-width :1150px) {
   
   nav {
    padding: 0 50px ;
    gap:60px
   }
   
    .logo{
        width: 130px;
    }

    .list a {
        font-size: 16px;
    }

    .logo img  { 
        width: 130px ;
    }

    .list{
        gap:10px ;
    }

    .home-content {
    grid-template-columns :1fr ;
    place-items: center;
    }
    .img-home {
        display: none;
    }

    .item {
        display: grid;
        place-items: center;
    }

    .item > div , .item > p {
        text-align: center;
    }

    .img-home img  {
        display: none;
    }

    .button-home {
       width: 100%;
       margin: 0;
       
    }


    .info .item > div {
        font-size: 50px; 
        font-weight: 700;
        line-height:60px
    }

    

    

    .content-about {
        gap:60px
    }


    .container-rate {
        gap: 50px;
    }

    .content-services {
    grid-template-columns: repeat(2 , 1fr);
    }

    .item-brand img {
        max-width: 150px;
    }

    .content-blog {
        margin-top: 40px;
        flex-direction: column;
    }

    .footer-top {
        gap:30px ;
    }

    .links-footer {
        gap:20px;
    }

    .item-services {
        margin: 0 10px;
    }

    .title-about {
        margin-top: 0;
    }

     .content-about {
        grid-template-columns : 1fr ;
        grid-template-areas: "img" "info";
        
     }

     .info-about {
        grid-area: img;
     }
     .img-about{
        grid-area: info;
     }

     .img-about img {
        max-width: 100%;
     }


}

@media (max-width : 700px){

    .navbar {
        height: 120px;
        padding: 0 20px;
    }
    
    nav {
        flex-direction: column;
        gap:5px ;
        padding: 0 20px;
    }

    
.list {
    gap: 30px;
}
    .list a {
        font-size: 12px;
        width: 50%;
        padding: 0 5px;
    }
    .container-rate {
        flex-direction: column;
        height: 400px;
        margin-top: 20px;
    }
    .icon-rate i {
        font-size: 50px;
    }
    .info-rate div{
        font-size: 25px;
    }

    .content-services {
    grid-template-columns: 1fr;
    }

    .container-contact {
       min-height:  650px;
        grid-template-columns: 1fr;
        margin-top: 50px;
    }
    .footer-top {
        grid-template-columns : 1fr ;
        padding: 40px 20px;
    }
    
    
    .footer-top .info-footer iframe  {
        margin: 0 auto;
        margin-top: 20px;
    }
    .social-list {
       bottom: -20px;
    }
    .social-list a i  {
        font-size: 25px;
    }


    .info .item > div {
        font-size: 30px; 
        font-weight: 700;
        line-height:35px ;
        padding: 20px;
    }
    
    .button-home .btn{
        font-size: 12px;
        height: 40px;
        padding: 5px;
        width: 100%;
    }

    .button-home{
        margin-left: 0; 
         width: 70%;
    }

    .title-about{
         font-size: 25px;
    }

    .text-contact > div {
    font-size: 30px;
    }
    .container-contact {
        place-items: center;
        justify-items: center;
        padding: 20px;
    }
    .form input , .form textarea {
        padding: 10px;
    }
    .form > input:last-child{
        padding: 10px;
        
    }

    .footer-top .info-footer img{
        width: 150px;
    }
    .title-blog {
        font-size: 30px !important;
    }



    
    
    


}

